<ion-header [translucent]="true">
  <ion-toolbar class="fancy">
    <ion-thumbnail slot="start">
      <img alt="tophat" src="..\..\assets\icon\stonks-icon.png" align="center">
    </ion-thumbnail>
    <ion-title align="center"> Sistema de Controle de Estoque </ion-title>
    <p>
      <ion-title align="center"> Stonks </ion-title>
    </p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item color="medium" text-wrap *ngIf="(totalItensEstoque$ | async) as totalItens">
    <ion-grid>
      <ion-row> <b class="center"> Estatísticas Mensais: </b> </ion-row>
      <p> </p>
      <ion-row> <img alt="stonks" src="..\..\assets\pngs\stonks.png" align="center" height='130' width='260'> </ion-row>
      <p> </p>
      <ion-row> <ion-label class="dark"> Total de Itens em Estoque: </ion-label>
        <b> &nbsp; {{ totalItens }} </b>
      </ion-row>
      <p></p>
      <ion-row> <ion-label class="dark"> Total de Tipos de Itens: </ion-label>
        <b> &nbsp; {{ totalTiposItens$ | async }} </b>
      </ion-row>
      <p></p>
      <ion-row> <ion-label class="dark"> Média de Preço dos Produtos: </ion-label>
        <b> &nbsp; {{ mediaPrecoProdutos$ | async | number: '1.2-2' }} R$ </b>
      </ion-row>
      <p></p>
      <p></p>
      <p></p>
      <ion-label class="dark" align="center"> Produtos que Precisam de Reposição: </ion-label>
      <p> </p>
      <ion-item text-wrap *ngIf="(itensReposicao$ | async) as itensReposicao">
        <ion-grid>
          <ion-row *ngFor="let item of itensReposicao">
            <ion-label> {{ item.nome }} - {{ item.marca }}: </ion-label>
            <i color="medium"> &nbsp; {{ item.estoqueMin - item.quantidade }} Unidades </i>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-grid>
  </ion-item>
</ion-content>